# Latihan - Praktikum 10

In [2]:
mahasiswa = ["Arya", "Aril", "Andika", "Ishaq", "Rizal"]
print(mahasiswa)

['Arya', 'Aril', 'Andika', 'Ishaq', 'Rizal']

#### Analisis

Kode di atas membuat sebuah list bernama mahasiswa yang berisi lima elemen, yaitu "Arya", "Aril", "Andika", "Ishaq", dan "Rizal". Struktur data list di Python bersifat mutable, artinya elemen-elemen di dalamnya dapat diubah, ditambah, atau dihapus. Ketika perintah print(mahasiswa) dijalankan, program akan menampilkan seluruh isi list tersebut dalam bentuk satu kesatuan data, yaitu: ['Arya', 'Aril', 'Andika', 'Ishaq', 'Rizal'].

In [3]:
mahasiswa = ("Arya", "Aril", "Andika", "Ishaq", "Rizal")
print(mahasiswa)

('Arya', 'Aril', 'Andika', 'Ishaq', 'Rizal')

#### Analisis

Kode di atas membuat sebuah tuple bernama mahasiswa yang berisi lima elemen, yaitu "Arya", "Aril", "Andika", "Ishaq", dan "Rizal". Tuple merupakan struktur data di Python yang mirip dengan list, tetapi bersifat immutable, artinya data di dalamnya tidak dapat diubah setelah dibuat. Ketika perintah print(mahasiswa) dijalankan, program akan menampilkan seluruh isi tuple tersebut ke layar dalam bentuk urutan data seperti ini: ('Arya', 'Aril', 'Andika', 'Ishaq', 'Rizal').

In [4]:
mahasiswa = {"Arya", "Aril", "Andika", "Ishaq", "Rizal"}
mahasiswa [0] = "Hasana"
print(mahasiswa)

TypeError: 'set' object does not support item assignment

#### Analisis

Kode di atas akan menghasilkan error karena variabel mahasiswa dideklarasikan sebagai set, bukan list. Struktur data set di Python bersifat tidak berurutan dan tidak mendukung pengindeksan, sehingga perintah mahasiswa[0] = "Hasana" tidak valid. Selain itu, set juga tidak menyimpan elemen duplikat dan tidak memiliki urutan tetap, sehingga elemen di dalamnya tidak dapat diakses atau diubah berdasarkan indeks. Akibatnya, program akan menampilkan pesan TypeError: 'set' object does not support item assignment saat dijalankan.

In [5]:
mahasiswa = ["Arya", "Aril", "Andika", "Ishaq", "Rizal"]
mahasiswa.append("Hasana")
mahasiswa.insert(3, "Kolbi")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Arya")
for nama in mahasiswa:
    print("Nama Mahasiswa: ", nama)
    
print(mahasiswa)

Nama Mahasiswa:  Rizal
Nama Mahasiswa:  Kolbi
Nama Mahasiswa:  Ishaq
Nama Mahasiswa:  Aril
Nama Mahasiswa:  Andika
['Rizal', 'Kolbi', 'Ishaq', 'Aril', 'Andika']

#### Analisis

Kode di atas melakukan beberapa operasi untuk memanipulasi data pada list bernama mahasiswa. Pertama, elemen "Hasana" ditambahkan ke akhir list menggunakan append(), kemudian "Kolbi" disisipkan pada indeks ke-3 dengan insert(3, "Kolbi"). Setelah itu, elemen terakhir dihapus menggunakan pop(), dan list diurutkan secara menurun (descending) menggunakan sort(reverse=True). Selanjutnya, elemen "Arya" dihapus dari list dengan remove("Arya"). Pada bagian perulangan for, setiap nama dalam list ditampilkan satu per satu dengan teks pendamping “Nama Mahasiswa:”. Terakhir, program mencetak seluruh isi list yang telah diperbarui setelah semua operasi selesai dilakukan.

In [6]:
mahasiswa = ["Arya", "Aril", "Andika", "Ishaq", "Rizal"]
mahasiswa.append("Hasana")
mahasiswa.insert(3, "Kolbi")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Arya")

i = 1
for nama in mahasiswa:
    print("Nama Mahasiswa ke-", i ,": ", nama)
    i+=1
    
print(mahasiswa)

Nama Mahasiswa ke- 1 :  Rizal
Nama Mahasiswa ke- 2 :  Kolbi
Nama Mahasiswa ke- 3 :  Ishaq
Nama Mahasiswa ke- 4 :  Aril
Nama Mahasiswa ke- 5 :  Andika
['Rizal', 'Kolbi', 'Ishaq', 'Aril', 'Andika']

#### Analisis

Kode tersebut melakukan beberapa operasi untuk memanipulasi list bernama mahasiswa. Pertama, elemen "Hasana" ditambahkan ke akhir list menggunakan append(), kemudian "Kolbi" disisipkan pada indeks ke-3 dengan insert(3, "Kolbi"). Setelah itu, elemen terakhir dihapus menggunakan pop(), dan list diurutkan secara menurun dengan sort(reverse=True). Selanjutnya, elemen "Arya" dihapus menggunakan remove("Arya"). Pada bagian perulangan for, setiap nama mahasiswa ditampilkan bersama nomor urutnya dengan bantuan variabel penghitung i, dan akhirnya program mencetak isi list yang telah diperbarui serta diurutkan setelah semua proses selesai dilakukan.

In [10]:
person = {"name": "Riswan", "hp": "12345", "kelas": "TEKOM F"}
print(person)

{'name': 'Riswan', 'hp': '12345', 'kelas': 'TEKOM F'}

#### Analisis

Kode tersebut mendefinisikan sebuah dictionary bernama person yang berisi tiga pasangan key-value, yaitu "name" dengan nilai "Riswan", "hp" dengan nilai "12345", dan "kelas" dengan nilai "TEKOM F". Ketika perintah print(person) dijalankan, program akan menampilkan seluruh isi dictionary tersebut di layar dalam bentuk pasangan antara key dan value yang menunjukkan data milik objek person.

In [9]:
person = {"name": "Riswan", "hp": "12345", "kelas": "TEKOM F"}
for key, value in person.items():
    print(key, ":", value)

name : Riswan
hp : 12345
kelas : TEKOM F

#### Analisis

Kode tersebut membuat sebuah dictionary bernama person yang berisi tiga data, yaitu "name": "Riswan", "hp": "12345", dan "kelas": "TEKOM F". Selanjutnya, perulangan for key, value in person.items(): digunakan untuk mengambil setiap pasangan key dan value dari dictionary tersebut. Metode items() mengembalikan isi dictionary dalam bentuk pasangan (key, value), sehingga keduanya dapat ditampilkan menggunakan format key : value. Dengan demikian, program akan mencetak setiap informasi seperti nama, nomor HP, dan kelas secara terpisah pada baris yang berbeda.

In [8]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

#### Analisis

Kode tersebut menggunakan perulangan while untuk menampilkan angka dari 0 hingga 5. Variabel i diinisialisasi dengan nilai 0, kemudian selama kondisi i <= 5 bernilai benar, program akan mencetak nilai i dan menambahkannya dengan 1 di setiap iterasi menggunakan i += 1. Saat nilai i mencapai 6, kondisi tidak lagi terpenuhi sehingga perulangan berhenti. Akibatnya, program menampilkan deretan angka 0, 1, 2, 3, 4, dan 5 secara berurutan di layar.

In [9]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

#### Analisis

Kode tersebut menggunakan perulangan for dengan fungsi range(10) untuk menampilkan deretan angka dari 0 hingga 9. Fungsi range(10) menghasilkan urutan bilangan mulai dari 0 sampai 9, di mana setiap nilai secara bergantian disimpan ke dalam variabel i dan kemudian dicetak di dalam blok perulangan. Hasil akhirnya, program menampilkan angka 0 hingga 9, masing-masing pada baris yang terpisah.

In [4]:
for i in range(1,6):
  print(i)

1
2
3
4
5

#### Analisis

Kode tersebut menggunakan perulangan for dengan range(1, 6) untuk menampilkan angka dari 1 hingga 5. Fungsi range(1, 6) menghasilkan urutan bilangan mulai dari 1 sampai 5, karena batas atasnya yaitu 6 tidak termasuk dalam hasil. Setiap nilai yang disimpan di variabel i akan dicetak pada baris baru di dalam blok perulangan. Dengan demikian, output yang dihasilkan berupa deretan angka 1, 2, 3, 4, dan 5 secara berurutan.

In [11]:
for i in range(5,10):
  print(i)

5
6
7
8
9

#### Analisis

Kode tersebut menggunakan perulangan for dengan range(5, 10) untuk menampilkan angka dari 5 hingga 9. Fungsi range(5, 10) menghasilkan urutan bilangan mulai dari 5 dan berhenti sebelum mencapai 10, sehingga angka 10 tidak disertakan dalam hasil. Setiap nilai yang disimpan dalam variabel i kemudian dicetak pada baris baru di dalam blok perulangan. Dengan demikian, output yang muncul adalah deretan angka 5, 6, 7, 8, dan 9 secara berurutan.

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:3])

['cherry']

#### Analisis

Kode tersebut menggunakan slicing pada list untuk mengambil sebagian elemen dari indeks 2 hingga sebelum indeks 3. Dalam list thislist, elemen pada indeks ke-2 adalah "cherry", sehingga ekspresi thislist[2:3] menghasilkan list baru yang berisi ['cherry']. Saat perintah print(thislist[2:3]) dijalankan, program akan menampilkan ['cherry'] sebagai output di layar.

In [1]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[3:])

['orange', 'kiwi', 'melon', 'mango']

#### Analisis

Kode tersebut menggunakan slicing pada list untuk mengambil semua elemen mulai dari indeks 3 hingga akhir list. Pada list thislist, elemen yang berada mulai dari indeks ke-3 adalah "orange", "kiwi", "melon", dan "mango". Oleh karena itu, ekspresi thislist[3:] akan menghasilkan list baru berisi ['orange', 'kiwi', 'melon', 'mango']. Saat perintah print(thislist[3:]) dijalankan, program akan menampilkan list tersebut sebagai output.

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

#### Analisis

Kode tersebut menggunakan slicing dengan notasi [:] untuk mengambil seluruh elemen dari list, mulai dari elemen pertama hingga elemen terakhir. Pada list thislist, semua elemen disertakan tanpa ada yang dihilangkan, sehingga ekspresi thislist[:] menghasilkan salinan list yang identik dengan aslinya, yaitu ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']. Ketika perintah print(thislist[:]) dijalankan, program akan menampilkan seluruh isi list tersebut di layar.

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1:3])

['banana', 'cherry']

#### Analisis

Kode tersebut menggunakan slicing pada list untuk mengambil sebagian elemen, yaitu mulai dari indeks 1 hingga sebelum indeks 3. Pada list thislist, elemen yang berada pada indeks 1 dan 2 adalah "banana" dan "cherry". Oleh karena itu, ekspresi thislist[1:3] menghasilkan list baru yang berisi ['banana', 'cherry']. Saat perintah print(thislist[1:3]) dijalankan, program akan menampilkan list tersebut sebagai output.

In [16]:
i = 1
while i <= 9:
    print(i)
    i += 2

1
3
5
7
9

#### Analisis

Kode tersebut menggunakan perulangan while untuk menampilkan deretan angka dari 1 hingga 9 dengan kenaikan sebesar 2 pada setiap iterasi. Variabel i dimulai dengan nilai 1, lalu setiap kali perulangan dijalankan nilainya bertambah 2 menggunakan i += 2. Selama kondisi i <= 9 terpenuhi, program akan terus mencetak nilai i. Hasil akhirnya, program menampilkan deretan angka 1, 3, 5, 7, dan 9, dan perulangan berhenti ketika nilai i melebihi 9.

In [17]:
i = 1
while i <= 13:
    if i == 7:
        print("WOW")
    else:
        print(i)
    i +=2

1
3
5
WOW
9
11
13

#### Analisis

Kode tersebut menggunakan perulangan while yang berjalan dari nilai 1 hingga 13 dengan kenaikan sebesar 2 pada setiap iterasi. Di dalam perulangan, program memeriksa apakah nilai i sama dengan 7 menggunakan pernyataan if. Jika kondisi tersebut terpenuhi, program mencetak "WOW", sedangkan jika tidak, program mencetak nilai i seperti biasa. Akibatnya, output yang dihasilkan adalah 1, 3, 5, WOW, 9, 11, dan 13, dan perulangan berhenti ketika nilai i melebihi 13.

In [19]:
for i in range(1, 11):
    if i <= 8:
        if i % 2 == 1:
            print("hidup")
        else:
            print("mahasiswa")
    else:
        print(i)

hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
9
10

#### Analisis

Kode tersebut menggunakan perulangan for dengan range(1, 11) untuk menjalankan iterasi dari angka 1 hingga 10. Di dalam perulangan terdapat percabangan bersarang (nested if) yang memeriksa beberapa kondisi. Jika nilai i kurang dari atau sama dengan 8, maka program akan mengecek apakah i merupakan bilangan ganjil atau genap. Jika i ganjil (i % 2 == 1), maka akan dicetak "hidup", sedangkan jika i genap, akan dicetak "mahasiswa". Untuk nilai i yang lebih besar dari 8 (yaitu 9 dan 10), program langsung mencetak nilai i tanpa pemeriksaan tambahan.

In [20]:
for i in range(1, 14):
    print(i)
    if i % 3 == 2:  
        print("Ha")

1
2
Ha
3
4
5
Ha
6
7
8
Ha
9
10
11
Ha
12
13

#### Analisis

Kode tersebut menggunakan perulangan for dengan range(1, 14) untuk menghasilkan deretan angka dari 1 hingga 13. Pada setiap iterasi, program akan mencetak nilai i terlebih dahulu, kemudian memeriksa apakah i % 3 == 2 (yakni ketika i dibagi 3 menghasilkan sisa 2). Jika kondisi ini benar, maka program akan mencetak kata "Ha" setelah angka tersebut. Dengan demikian, output yang dihasilkan menampilkan angka 1 hingga 13, di mana setelah angka 2, 5, 8, dan 11 akan muncul tulisan "Ha".

In [24]:
for i in range(1, 14):
    if i not in [3, 5, 6, 9, 10, 12]:
        print(i)
        
    if i in [2, 5, 8, 11]:
        print("Ha")

    if i in [4, 9]:
        print("Hi")

1
2
Ha
4
Hi
Ha
7
8
Ha
Hi
11
Ha
13

#### Analisis

Kode tersebut menggunakan perulangan for dari 1 hingga 13 untuk menampilkan kombinasi antara angka dan kata tertentu berdasarkan kondisi yang telah ditentukan. Jika nilai i tidak termasuk dalam daftar [3, 5, 6, 9, 10, 12], maka program akan mencetak nilai angka tersebut. Selanjutnya, apabila i termasuk dalam [2, 5, 8, 11], program akan mencetak kata "Ha", dan jika i termasuk dalam [4, 9], maka akan mencetak kata "Hi". Dengan demikian, output yang dihasilkan merupakan urutan angka dan kata yang bergantian sesuai kondisi yang terpenuhi dalam setiap iterasi.